.title {
    color:#B40000;
}

.li {
    list-style: none;
}

.ul {
    list-style-type: none;
}

.areaTopo {
	width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.areaMenu ul {
	list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.areaMenu li {
	margin: 0 50px;
}
