.title {
    color:#B40000;
}

.li {
    list-style: none;
}

.ul {
    list-style-type: none;
}

.areaTopo {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.areaMenu {
    width: 75%;
}

.areaMenu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}