.title {
    color:#B40000;
}

.li {
    list-style: none;
}

.ul {
    list-style-type: none;
}

.areaTopo {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.areaMenu {
    width: 44%;
}

.areaMenu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.topbar2area {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.topbar2entrega, .topbar2cartao, .topbar2desconto, .topbar2meuspedidos, .topbar2atendimento {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.topbar2rastreio {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position:relative;
}


.topbar2 img {
    width: 25px;
    margin-right: 10px;
}

.topbar2 p {
    margin: 0;
}

.myrastreio {
    display: none;
    position: absolute;
    padding-top: 20px;
    top: 25px;
    left: -60px;
    z-index: 99999;
    width: 284px;
    background: #fff;
    right: 0px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 15px;
}

.topbar2rastreio:hover .myrastreio {
    display: block;
}

.myrastreio p {
    border-bottom: 1px solid #000;
    color: #B40000;
    font-size: 16px;
    margin-top: -15px;
}

.myrastreio input {
    width: 145px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 15px;
    border: 1px solid #000;
}

.myrastreio button {
    border: 0;
    background: #b40000;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
}

.obsrastreio {
    font-size: 12px !important;
    margin: -15px 90px 10px 0 !important;
    border: 0 !important;
}


@media (max-width: 768px) {
    .areaTopo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .areaMenu {
        width: 100%;
        margin-top: 25px;
    }

    .areaMenu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: space-between;
        align-items: center;
        margin: 0 25px;
    }

    .topbar2area {
        display:none;
    }

  }