.root {
    padding: 15px;
    background: #e3e5e8;
}

.areaGeral {
    max-Width: 1150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-Direction: row;
    flex-Wrap: nowrap;
    align-Items: center;
}

.areaBusca {
    color: #B40000;
    width: 55%;
    display: flex;
    align-items: center;
}

.campoBusca {
    margin-Left: 10px;
    height: 40px;
    border: 1px solid #000;
    border-Radius: 12px;
    padding: 10px 0 10px 30px;
}

.iconSearch {
    position: relative;
    left: 40px;
}

.iconCadastro {
    margin-Right: 10px;
}

.areaCliente {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-Items: center;
    justify-content: center;
    margin: 0 5%;
    min-width: 116px;
}
.iconCarrinho {
    display: flex;
    flex-direction: row;
    align-Items: center;
}

.p {
    margin: 0;
}